# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
pip-log.txt
pip-download-cache/
*.egg-info/
*.egg
# IDE-specific files
.idea/
.vscode/
*.swp
*~
#standard git ignore for next.js projects
# Next.js build output
.next/
out/
# Local environment variables
.env.local
.env.*.local